body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #F6EFDF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cocktail-card {
  display: inline-block;
  padding: 15px;
  border: 1px solid #5C2F93;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
  font-size: .9em;
}

.cocktails-container, .favorites, .my-recipes {
  margin: 0 auto;
  max-width: 10000px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.cocktail-details, .drink-form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 2;
  text-align: center;
  background-color:white;
  background-color: black;
}

a:link {
  color: #87E8B8;
  padding: 2px;
  text-decoration: none;
}

a:visited {
  color: #E24A59;
  padding: 2px;
  text-decoration: none;
}

a:hover {
  color: #F6EFDF;
  padding: 2px;
  text-decoration: underline
}

.search-bar {
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.navbar {
  width: 100%;
  padding: 10px;
}

.title {
  display: inline;
  position: absolute;
  top: 10px;
}

.subtitle {
  display: inline;
  position: absolute;
  top: 50px;
}

.links{
  display: inline;
  position: absolute;
  top: 100px;
}

.drink-image {
  width: 100%;
  display: block;
}

table{
  display: inline;
}

h2{
  text-align: center;
}

.close-button{
  position: absolute;
  top: 0;
  right: 0;
}